<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMXpAs6PIbI2ar5egaPnJGXFmg8WNlKo4</string>
	<key>GCM_SENDER_ID</key>
	<string>278545472036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.plaidtesting</string>
	<key>PROJECT_ID</key>
	<string>emailmanager-b43f0</string>
	<key>STORAGE_BUCKET</key>
	<string>emailmanager-b43f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278545472036:ios:a91b7d54092cc2b6ef16b1</string>
</dict>
</plist>